:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #EEEEEE;
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #000;
    --toastify-color-info: #3498db;
    --toastify-color-success: #000;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #ff0000;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
  
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: "Roboto", sans-serif;
    --toastify-z-index: 9999;
  
    --toastify-text-color-light: #000;
    --toastify-text-color-dark: #fff;

    .Toastify__toast {
        border-radius: 0px;
    }
}
  
body {
    font-family: "Oswald", sans-serif;
}

.container {
    max-width: calc(100% - 16.5rem);
    margin: 0 auto;
    padding: 0 1.5rem;

    @media(max-width: 1181px) {
        max-width: none;
    }
}