.headerStyle {
    padding: 1.87rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-white);
    
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: var(--color-black);
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}