.modalOverlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(236, 234, 234, 0.4);
    overflow: hidden;
}

.modal {
    max-width: 32rem;
    width: 100%;
    height: 50rem;
    padding: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255);
    gap: 0.625rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: relative;
    margin-bottom: 2rem;

    >button {
        position: absolute;
        top: .4rem;
        right: .75rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

        span {
            font-size: 3rem !important;
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2.94rem;
    max-height: 500px;
    overflow: auto;

    .sc {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >img {
            cursor: pointer;
        }
    }

}